/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.basePane {
	-fx-background-color: #33ccff;
}
.Button {
	-fx-background-color: #bfbfbf;
}
.Button:hover {
	-fx-background-color: ecf0f1;
}